<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="#{order.title}">Title</title>
<span th:replace="commons :: common-css"></span>
</head>
<body>
	<a id="baseUrl" th:href="@{/}"></a>
	<div id="headerbaredit" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<span class="brand" th:text="#{order.title}">Brand</span>
				<div class="nav-collapse collapse">
					<p class="navbar-text span2">Feedback message</p>
					<ul class="nav pull-right">
						<li><a class="viewmode updatebutton addbutton submit" id="headerconfirmbutton" th:text="#{action.cart}">Create</a></li>
					</ul>
					<ul class="nav pull-right">
						<li><a class="editmode" id="addbutton" th:text="#{action.add}">Add</a></li>
						<li><a class="editmode" id="updatebutton" th:text="#{action.update}">Update</a></li>
						<li class="nodisplay"><a class="viewmode updatebutton addbutton submit" id="headerconfirmbutton" th:text="#{action.save}">Save</a></li>
						<li class="nodisplay"><a class="viewmode updatebutton" id="headercancelbutton" th:text="#{action.cancel}">Cancel</a></li>
					</ul>
					<form method="GET" action="" class="navbar-search pull-right">
						<input type="text" autocomplete="off" placeholder="Search" class="typeahead search-query navbarsearch" data-search-settings="navbarsearch"> <input type="hidden" value="" class="typeahead-val">
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="container" class="container">
		<header id="overview" class="subhead">
			<div class="subnav subnav-fixed" id="subnavscroll">
				<ul class="nav nav-pills">
					<!-- <li class=""><a href="#addNewProduct">Add new product</a></li>
					<li class=""><a href="#productsTable">Products list</a></li> -->
				</ul>
			</div>
		</header>
		<form id="mainform" class="form-horizontal" autocomplete="off" th:object="${order}" th:action="@{/order/addOrder}">
			<section id="newOrder">
				<div class="page-header sectionbartoggle" tabindex="0">
					<h1>
						<small><i class="icon-chevron-down"></i><span>Create Order</span></small>
					</h1>
				</div>
				<div class="row anything noheader">
					<div class="span6">
						<fieldset>
							<div class="control-group">
								<label for="groupofradios" class="control-label" th:text="#{order.type}">Order type:</label>
								<div class="controls">
									<label class="radio"> <input type="radio" id="type1" name="type" th:field="*{type}" value="sale" class="include" /> Sale
									</label> <label class="radio"> <input type="radio" id="type2" name="type" th:field="*{type}" value="purchase" class="include" /> Purchase
									</label>
								</div>
							</div>
							<div class="control-group">
								<label for="productOr" class="control-label" th:text="#{order.product.name}">Product:</label>
								<div class="controls">
									<select id="productOr" name="name" class="input-large include">
										<option value>Select product</option>
										<option th:each="products : ${productlist}" th:field="*{name}" th:value="${products.name}" th:text="${products.name}"></option>
									</select>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="span6">
						<fieldset>
							<div class="control-group">
								<label for="qty" class="control-label" th:text="#{order.qty}">Text input:</label>
								<div class="controls">
									<input id="qtyOr" name="quantity" type="number" th:field="*{quantity}" class="input-large include" required="required" value="" placeholder="Quantity"/>
								</div>
							</div>
							<div class="control-group">
								<label for="price" class="control-label" th:text="#{order.price}">Price:</label>
								<div class="controls">
									<div class="input-append">
										<input id="priceOr" name="price" type="text" th:field="*{price}" class="input-large include" readonly /> <span class="inlineappends"></span>
									</div>
								</div>
							</div>
							<div class="control-group">
								<label for="totalPrice" class="control-label" th:text="#{order.price.total}">Price:</label>
								<div class="controls">
									<div class="input-append">
										<input id="totalPrice" name="price" type="text" th:field="*{totalPrice}" class="input-large include" readonly /> <span class="inlineappends"></span>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</section>
		</form>
		<section id="chartList" style="display: none;">
			<div class="page-header sectionbartoggle" tabindex="0">
				<h1>
					<small><i class="icon-chevron-down"></i><span>Cart list</span></small>
				</h1>
			</div>
			<div class="row linestoggle anything">
				<input type="hidden" id="dupplicateClientAnalysis" value="This price line analysis code is already attached or overlapped with valid from/to date"> <input type="hidden" id="prcingValidFromTo" value="Valid from and valid to, should both have date or both empty">
				<div class="span12">
					<form>
						<div id="listProduct_wrapper" class="dataTables_wrapper form-inline">
							<table class="table-condensed table table-striped datatabled" id="dataTable">
								<thead>
									<tr>
										<th>Sl.</th>
										<th>Order type</th>
										<th>Product name</th>
										<th align="right">Quantity</th>
										<th align="right">Price</th>
										<th align="right">Total price</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="order, i : ${orderlist}">
										<td th:text="${i.count}"></td>
										<td th:text="${order.type}"></td>
										<td th:text="${order.name}"></td>
										<td align="right" th:text="${order.quantity}"></td>
										<td align="right" th:text="${order.price}"></td>
										<td align="right" th:text="${order.quantity}*${order.price}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div align="right"  class="control-group">
							<a id="submit" type="button" class="btn btn-success" th:href="@{/order/orders}" >Submit</a>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>


	<span th:replace="commons :: common-html"></span>
	<span th:replace="commons :: common-js"></span>

	<footer class="text-center">
		<small><span>Powered by</span> <a href="http://metafour.com/" target="_">Metafour Ltd</a>. © Copyright <span>2019</span></small>
	</footer>
</body>
</html>