<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="#{product.addProduct.title}">Title</title>
<span th:replace="commons :: common-css"></span>
</head>
<body th:with="isNew=${#strings.isEmpty(product.id)}">
	<a id="baseUrl" th:href="@{/}"></a>
	<div id="headerbaredit" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<span class="brand" th:text="#{product.brand}">Brand</span>
				<div class="nav-collapse collapse">
					<p class="navbar-text span2">Feedback message</p>
					<ul class="nav pull-right" th:if="${isNew}">
						<li><a class="viewmode updatebutton addbutton submit" id="headerconfirmbutton" th:text="#{action.create}">Create</a></li>
					</ul>
					<ul class="nav pull-right" th:unless="${isNew}">
						<li><a class="editmode" id="addbutton" th:href="@{'/product'}" th:text="#{action.add}">Add</a></li>
						<li><a class="editmode" id="updatebutton" th:text="#{action.update}">Update</a></li>
						<li class="nodisplay"><a class="viewmode updatebutton addbutton submit" id="headerconfirmbutton" th:text="#{action.save}">Save</a></li>
						<li class="nodisplay"><a class="viewmode updatebutton" id="headercancelbutton" th:text="#{action.cancel}">Cancel</a></li>
					</ul>
					<form method="GET" action="" class="navbar-search pull-right">
						<input type="text" autocomplete="off" placeholder="Search" class="typeahead search-query navbarsearch" data-search-settings="navbarsearch"> <input type="hidden" value="" class="typeahead-val">
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="container" class="container">
		<header id="overview" class="subhead">
			<div class="subnav subnav-fixed" id="subnavscroll">
				<ul class="nav nav-pills">
					<li></li>
					<li class=""><a href="#addNewProduct">Add new product</a></li>
					<li class=""><a href="#productsTable">Products list</a></li>
				</ul>
			</div>
		</header>
		<form id="mainform" class="form-horizontal" th:object="${product}" autocomplete="off" th:action="@{/product}">
			<section id="addNewProduct">
				<div class="page-header sectionbartoggle" tabindex="0">
					<h1>
						<small><i class="icon-chevron-down"></i><span>Add new product</span></small>
					</h1>
				</div>
				<div class="row anything noheader">
					<div class="span6">
						<fieldset>
							<div class="control-group">
								<label for="name" class="control-label" th:text="#{product.name}">Text input:</label>
								<div class="controls">
									<input id="name" name="name" th:field="*{name}" type="text" class="input-large include" required="required" placeholder="Name" />
								</div>
							</div>
							<div class="control-group">
								<label for="price" class="control-label" th:text="#{product.price}">Text input:</label>
								<div class="controls">
									<input id="price" name="price" th:field="*{price}" type="number" class="input-large include" required="required" placeholder="Price" /> <span class="inlineappends"></span>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="span6">
						<fieldset>
							<div class="control-group">
								<label for="qty" class="control-label" th:text="#{product.qty}">Text input:</label>
								<div class="controls">
									<input id="qty" name="quantity" th:field="*{quantity}" type="number" class="input-large include" required="required" placeholder="Quantity" />
								</div>
							</div>
							<div class="control-group">
								<label for="datepicker" class="control-label" th:text="#{product.date}">Datepicker:</label>
								<div class="controls">
									<div class="input-append">
										<input id="datepicker" name="date" th:field="*{date}" class="include input-datesize con-datepicker" type="text"><span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</section>

		</form>
		<section id="productsTable">
			<div class="page-header sectionbartoggle" tabindex="0">
				<h1>
					<small><i class="icon-chevron-down"></i><span>Products list</span></small>
				</h1>
			</div>
			<div class="row linestoggle anything">
				<input type="hidden" id="dupplicateClientAnalysis" value="This price line analysis code is already attached or overlapped with valid from/to date"> <input type="hidden" id="prcingValidFromTo" value="Valid from and valid to, should both have date or both empty">
				<div class="span12">
					<form>
						<div id="listProduct_wrapper" class="dataTables_wrapper form-inline">
							<table class="table-condensed table table-striped datatabled" id="dataTable">
								<thead>
									<tr>
										<th>Sl.</th>
										<th>Name</th>
										<th align="right">Price</th>
										<th align="right">Available qty</th>
										<th>Date</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="products ,i : ${productlist}">
										<td th:text="${i.count}"></td>
										<td th:text="${products.name}"></td>
										<td align="right" th:text="${products.price}"></td>
										<td align="right" th:text="${products.quantity}"></td>
										<td th:text="${products.date}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>


	<span th:replace="commons :: common-html"></span>
	<span th:replace="commons :: common-js"></span>

	<footer class="text-center">
		<small><span>Powered by</span> <a href="http://metafour.com/" target="_">Metafour Ltd</a>. © Copyright <span>2019</span></small>
	</footer>
</body>
</html>